@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');

body {
  background-color: #090909;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.search-image {
  width: 40px;
  height: 30px;
  display: inline-block;
}

.add-to-favorite {
  margin-left: -130px;
}

#categor {
  float: left;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-right: 50px;
  width: 14%;
  /* background-color: #34495e; */
  position: fixed;
  top: 70px;
  margin-right: 30px;
  left: 0;
  height: 100%;
  color: white;
}

#categories {
  margin-top: -2px;
  color: silver;
}

#categories li {
  margin-top: 8px;
}

span.favorite {
  font-size: 35px;
  padding-left: 125px;
  cursor: pointer;
  color: rgba(255, 0, 0, 0.955);
}

span.favorite:hover {
  color: red;
}

#container {
  display: grid;
  gap: 10px;
  width: 85%;
  float: right;
}

#main-page {
  width: 100%;
  height: 1000px;
  background-color: #195f8e0b;
  /* display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
  */
}

#about {
  margin-top: 90px;
  margin-left: 90px;
}

.my-gifs {
  margin-left: 400px;
  margin-top: 100px;
}

#upload {
  margin: 0 auto;
  margin-top: 150px;
}

.gifche {
  margin-left: 50px;
  margin-top: 70px;
}

.gif-combined-view {
  float: left;
  margin-bottom: 20px;
  margin-left: 50px;
  border-radius: 20px;
}

.single-gif {
  width: 300px;
  height: 250px;
  margin-bottom: -4px;
  border-radius: 20px 20px 0px 0px;
}

.gif-detailed {
  background-color: #14149f8a;
  width: 300px;
  height: 20px;
  padding: 10px 0 30px 0;
  border-radius: 0px 0px 20px 20px;
}

.gif-details {
  font-size: 20px;
  color: white;
  margin-left: 20px;
}

.favorite {
  width: 50px;
  height: 50px;
}

.logo {
  width: 50px;
  height: 50px;
  padding: 20px 20px;
  float: left;
}

.type-1 {
  border-radius: 10px;
  border: 1px solid #eee;
  transition: 0.3s border-color;
}
.type-1:hover {
  border: 1px solid #aaa;
}

.favorite-gif {
  float: left;
  margin-bottom: 20px;
  margin-left: 50px;

  margin-top: 70px;
}

.favorite-single-gif {
  width: 300px;
  height: 250px;
  margin-bottom: -4px;
  border-radius: 20px 20px 0 0;
}

.random-details {
  margin-top: 200px;
  color: blue;
}

.content-title {
  margin-left: 50px;
  color: white;
  font-size: 25px;
  margin-bottom: 5px;
}

.gif-upload-title {
  color: white;
  margin-top: 130px;
  margin-left: 65px;
  margin-bottom: -5px;
}

.upload-btn {
  background-color: #5266c8;
  height: 70px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin: 20px 20px;
}

.submit-btn {
  cursor: pointer;
}

.submit-btn {
  margin-left: 60px;
  margin-top: 20px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit-btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.submit-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.detailes-view {
  display: block;
}

.loading-gif {
  margin-left: -280px;
  align-items: center;
}

.details-up {
  display: block;
  width: 100%;
}

.left-side {
  float: left;
  margin-left: 100px;
  margin-top: 100px;
  width: 350px;
  height: auto;
}
.left-side img {
  width: 450px;
  height: auto;
}

.right-side {
  margin-top: 85px;
  float: left;
  margin-left: 160px;
  width: 49%;
  color: white;
  font-size: 1.5em;
}

#related-gifs {
  float: left;
}

.gifche img {
  width: 300px;
  height: 250px;
  margin-bottom: -4px;
}

#related-title {
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-bottom: -50px;
  margin-left: 100px;
}

.content-subcategory-title {
  margin-left: 100px;
  width: 100%;
  color: #37afff;
  text-align: left;
  line-height: 150px;
}

.single-sub-category {
  font-size: 20px;
  width: auto;
  height: auto;
  color: #37afff;
}

.subcategory {
  padding-left: 80px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.single-sub-category:hover {
  background-color: #37afffde;
  color: white;
  transform: scale(1.125);
  text-align: left;
  border-radius: 25px;
}

.single-sub-category:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .single-sub-category {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

.categories-homepage {
  margin-top: 3px;
  text-align: center;
}

#topbar {
  width: 100%;
  display: inline-block;
}

.links {
  float: left;
}

#search {
  margin: 15px 13px 13px 13px;
  padding: 10px 10px 10px 10px;
  float: right;
  width: 300px;
}

.nav {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 60%; /* Full width */
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  float: left;
}

nav {
  position: fixed;
  top: 0;
  margin-bottom: 30px;
  left: 0;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}

nav {
  font-weight: bold;
  float: left;
  width: 100%;
  height: 70px;
  /* background-color: #34495e; */
  font-size: 0;
}

nav a {
  margin-top: 11px;
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}
nav a:nth-child(1) {
  width: 150px;
}
nav a:nth-child(2) {
  width: 150px;
}
nav a:nth-child(3) {
  width: 150px;
}
nav a:nth-child(4) {
  width: 150px;
}
nav a:nth-child(5) {
  width: 150px;
}

nav a:nth-child(6) {
  width: 150px;
}

nav .start-home,
nav a:nth-child(1):hover ~ .animation {
  width: 150px;
  left: 0;
  background-color: #1abc9c;
}
nav .start-about,
nav a:nth-child(2):hover ~ .animation {
  width: 150px;
  left: 150px;
  background-color: #964e86;
}
nav .start-blog,
nav a:nth-child(3):hover ~ .animation {
  width: 150px;
  left: 300px;
  background-color: #3498db;
}
nav .start-portefolio,
nav a:nth-child(4):hover ~ .animation {
  width: 150px;
  left: 450px;
  background-color: #9b59b6;
}
nav .start-contact,
nav a:nth-child(5):hover ~ .animation {
  width: 150px;
  left: 600px;
  background-color: #e67e22;
}

nav .start-about,
nav a:nth-child(6):hover ~ .animation {
  width: 150px;
  left: 750px;
  background-color: #2fc675;
}

.home-img {
  padding-top: 200px;
  padding-left: 700px;
}

.category-gifs {
  color: white;
}

#category-list-view {
}

.about-titles {
  color: white;
}

.bg {
  background: url(../images/background.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}
.bg:before {
  content: '';
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
}
@keyframes sf-fly-by-1 {
  from {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(0);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
    transform: translateZ(-1800px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
}
.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}
.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7,
    758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7, 524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed,
    157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
    440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2,
    727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3, -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb,
    654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed, -85px -428px #d9d9d9,
    714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf,
    -112px 287px #c9c9c9, -853px 79px #d6d6d6, 828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed,
    813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc, 624px -481px #e6e6e6, 790px 477px #dedede,
    731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9,
    -362px 97px #c2c2c2, 563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc,
    -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0, -814px -337px #cfcfcf, 206px -339px #f2f2f2,
    -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3,
    -383px 368px #f7f7f7, 419px 288px #d1d1d1, -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9,
    -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}
.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}

.notification {
  margin-left: 200px;
  color: white;
  width: 300px;
  height: 55px;
  text-align: center;
}
.notification p.success-text {
  margin-top: -40px;
  margin-left: -221px;
  font-size: 25px;
}

.notification p.failed-text {
  margin-top: -38px;
  margin-left: -300px;
  font-size: 25px;
}

.failed-upload {
  margin-left: -600px;
  width: 40px;
  height: 40px;
}

.success-upload {
  margin-left: -600px;
  width: 50px;
  height: 50px;
}

.page-link {
  color: white;
  font-size: 1.5em;
  padding-right: 25px;
  width: 100%;
  margin: 0 auto;
}

.page-link selected {
  color: cyan;
}

.page-link-container {
  width: 100%;

  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.authors {
  display: block;
}

.single-author {
  float: left;
  margin-right: 100px;
  margin-top: 50px;
}

.author-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.author-name {
  width: 400px;
  font-size: 30px;
  color: white;
}

.email {
  width: 400px;
  color: silver;
  font-size: 1.2em;
}

.phone {
  width: 400px;
  color: silver;
  font-size: 1.2em;
}

.choose-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.choose-file + label {
  cursor: pointer;
}

.choose-file + label {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.choose-file + label:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.choose-file:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
